

<div class="container">
 
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" ngNativeValidate>

        <div class="form-group">
            <h3>Login: </h3>
            <input id="UserName" name="UserName" type="email" placeholder="user@example.com" 
            [(ngModel)]="blogForm.userName" 
            (blur)="onBlur(nameField)" 
            #nameField="ngModel"
            required >
            <input id="Password" name="Password" type="password" placeholder="*********" 
            [(ngModel)]="blogForm.password" 
            (blur)="onBlur(passwordField)"    
            #passwordField="ngModel" 
            required >
        
            <h3>Tell your story</h3>
            <textarea id="Blog" name="BlogPost" class="form-control" type="text" rows="7" 
            [(ngModel)]="blogForm.blogPost" 
            maxlength="4096"></textarea>
        
            <button class="btn btn-primary"
            type="submit"
            >Save</button>
        
    </div>

    </form>

  <!-- <h3> {{ form.value | json }}</h3>
    <h3>{{ BlogForm | json }}</h3>-->
</div>